@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  /* Mencegah efek bounce/rubber-banding saat scroll di mobile */
  overscroll-behavior-y: none;
}

/* Mengunci canvas agar murni menangani gesture touch pribadi */
.canvas-container {
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}
